$whi: white;
$light: lightgrey;
$grey: grey;

.prohead{
  width: 101.4%;
  background-color: $whi;
  padding: 2% 0 2% 2%;
  margin: -1% 0 -1% -1%;
  border: 1px solid $light;
}

.artpro{
  color: $grey;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid $light;
  margin: 9vh 19vw 0 44vw;
  padding: 0 2% 2% 2%;
  background-color: $whi;
  border-radius: 3px;
  .pp{
    display: inline-block;
    position: relative;
  }
  form{
    label{
      padding: 3% 0 1% 0;
      display: block;
    }
    #name{
      position: absolute;
      top: 34%;
      left: 52%;
      height:5%;
      padding: 0 0 0 1%;
      width: 26%;
    }
    #lname{
      position: absolute;
      top: 25%;
      left: 52%;
      height: 5%;
    }
    #bio{
      width: 98%;
      height: 80px;
    }
    #password, #email{
      width: 75%;
      margin-right: 3%;
     }
    textarea{
      resize: none;
      padding: -1% 5% 0 -3%;
    }
  }

}