@import "styleguide";
@import "Sign";
@import "profile";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  box-sizing: border-box;
 }

body{
  background-color: #dbdbdb;
  background-image: url("../image/Add Question-0.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}