block head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
block main
    article(class="signart")
        div(class="head")
            i(class="fab fa-telegram fa-4x")
            h2 Welcome back! Please login.
        div(class="box")
            form(method="post")
                label(for="email") Sign in with your e-mail address
                input(id="email", name="email", type="text")
                label(for="password") Password
                input(id="password", name="password", type="password")
                button(type="submit") Sign in to Dashboard
            p(class="middle") Login via social network
            div(class="social")
                i(class="fab fa-facebook-square fa-6x")
                i(class="fab fa-twitter-square fa-6x")
                i(class="fab fa-pinterest-square fa-6x")
                i(class="fab fa-dribbble-square fa-6x")
    div(class="under")
        a(class="align1", href="/signup") Don't have an account yet? Get Started
        p(class="align2") Forgot Password?
block footer